@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto Flex', sans-serif;
   font-size: 1.5rem;
   min-height: 100vh;
   background-color: #475569;;
   background-image: radial-gradient(whitesmoke, #475569);
   display: flex;
   flex-direction: column;
 }

 header, nav, main, footer {
   display: grid;
   grid-template-columns: 100%;
   place-content: center;
   text-align: center;

 } 

 header, footer {
   position: sticky;
   background-color: #1E293B;
   color: whitesmoke;
 }

 header {
   top: 0;
 }

 nav {
   background-color: #FFF;
   color: #000;
   padding: 1rem;
   border-bottom: 2px solid #000;
 }

 main {
   flex-grow: 1;
}

 footer {
   bottom: 0;
 }

 /* @media screen and (min-width: 481px) { starts where pixels are 481px and then upwards
   { apply CSS }
 } */

 /* or  */

 /* @media screen and (max-width: 1480px) { starts where pixels are whatever minimum and then to 1480px 
   { apply CSS }
 } */

 /* @media screen and (min-aspect-ratio: 7/4) { starts where width is 7 and height is 4 in ration
   {apply CSS}
 } */

 /* @media screen and (orientation: landscape) { Applied where the orientation is landscape
   { apply CSS }
 } */
