@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   padding: 5% 10%;
   font-size: 2rem;
   font-family: 'Roboto Flex', sans-serif;
}

.ol1 {
   list-style-type: lower-roman;
}

.ol2 {
   list-style-type: upper-alpha;
}

ul {
   color: crimson;
   list-style: square outside;
   line-height: 1.3;
}

ul li:nth-child(2) {
   color: rebeccapurple;
}

ul li::marker {
   font-size: 3rem;
   content: "$h - ";
}