@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: rgba(70, 130, 180, 0.4);
    min-height: 100vh; /* Allows the body to grow with the content */
}

button, input, textarea, select {   /*Form elements don't automatically inherit properties */
    font: inherit;
    font-family: inherit;
}

.container {
    background-color: rgba(13, 13, 185, 0.6);
    width: 80vw;
    margin-left: 10vw;
    border: 2px solid #000;
    padding: 0 3rem 1rem;
}

h1 {
    text-decoration: underline;
    text-align: center;
    margin: 0 0 2rem;
}

h1, h3 {
    color: navy;
    font-weight: bold;
}

h3 {
    margin: 1.5rem 0;
}

.white {
    color: #FFF;
    font-style: italic;
    font-weight: bold;
}

.offwhite {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 12px;
}

p span {
    text-transform: uppercase;
    background-color: rgb(15, 15, 15);
    padding: .05rem;
}