 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.container {
    border: 22px ridge #000;
    outline: 14px solid rebeccapurple;
    outline-offset: -33px;
    font-size: 2rem;
    padding: 2rem;
    margin: 1.5rem;
}

h1 {
    text-align: center;
}

.circle {
    margin: 2.5rem auto;
    background-color: red;
    width: 120px;
    height: 120px;
    border: 2px solid #000;
    outline: 2px solid yellow;
    outline-offset: 0.2rem;
    border-radius: 55%;
}