@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto Flex', sans-serif;
   font-size: 1.3rem;
   min-height: 100vh;
   padding: 20px;
}

.outer-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 2rem;
}

.container1 {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-flow: row wrap;   /*shorthand for flex-direction and flex-wrap */
   align-content: center;
   gap: 1rem;
   min-width: 300px;
   min-height: 300px;
   /* margin-inline: auto; */
   border: 1px solid #000;
}

.box1 {
   display: flex;
   justify-content: center;
   align-items: center;
   /* flex: 1 1 35px;  shorthand 1st value is grow, 2nd value is shrink and 3rd value is basis */
   width: 45px;
   height: 45px;
   background-color: #000;
   color: #FFF;
   font-size: 2rem;
   padding: 0.5rem;
}

.container2 {
   display: flex;
   justify-content:center;
   justify-content: space-around;
   align-items: baseline;
   flex-flow: row wrap;   /*short for flex-direction and flex-wrap */
   align-content: start;
   gap: 1rem;
   min-width: 300px;
   min-height: 300px;
   /* margin-inline: auto; */
   border: 1px solid #000;
}

.box2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 35px;  /*shorthand 1st value is grow, 2nd value is shrink and 3rd value is basis */
   height: 35px;
   background-color: #000;
   color: #FFF;
   font-size: 2rem;
   padding: 0.5rem;
}

.container3 {
   display: flex;
   justify-content: flex-end;
   justify-content: space-around;
   align-items: end;
   flex-flow: row wrap;   /*short for flex-direction and flex-wrap */
   align-content: start;
   gap: 1rem;
   min-width: 300px;
   min-height: 300px;
   /* margin-inline: auto; */
   border: 1px solid #000;
}

.box3 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 35px;  /*shorthand 1st value is grow, 2nd value is shrink and 3rd value is basis */
   height: 35px;
   background-color: #000;
   color: #FFF;
   font-size: 2rem;
   padding: 0.5rem;
}

.container4 {
   display: flex;
   justify-content:baseline;
   justify-content: space-around;
   align-items: baseline;
   flex-flow: row wrap;   /*short for flex-direction and flex-wrap */
   align-content: start;
   gap: 1rem;
   min-width: 300px;
   min-height: 300px;
   /* margin-inline: auto; */
   border: 1px solid #000;
}

.box4 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 35px;  /*shorthand 1st value is grow, 2nd value is shrink and 3rd value is basis */
   height: 35px;
   background-color: #000;
   color: #FFF;
   font-size: 2rem;
   padding: 0.5rem;
}
