@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto Flex', sans-serif;
   min-height: 100vh;
   background-image: url("https://thumbs.dreamstime.com/z/purple-paint-bubbles-5922852.jpg");
   background-size: cover;

}

.clip {
   font-weight: 900;
   font-size: 12rem;
   text-align: center;
   line-height: 3;
   background-image: url("https://as1.ftcdn.net/v2/jpg/05/49/40/30/1000_F_549403090_EnGEt6o05NEBwt1GbPuJNMl3067VvRk0.jpg");
   background-size: cover;
   text-transform: uppercase;
   -webkit-background-clip: text;
   background-clip: text;
   /* color: hsla(0, 0%, 0%, 0.194); */
   color: transparent;
}