@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto Flex', sans-serif;
   font-size: 1.3rem;
   min-height: 200vh;
}

.outer-container {
   position: relative;
   border: 2.5px dashed #000;
   width: 75vw;
   height: 85vh;
   margin: 40px auto;
}

.inner-container {
   border: 2px solid navy;
   width: 40vw;
   height: 50vh;
   margin: 200px auto;
}

.box {
   width: 150px;
   height: 150px;
   color: #FFF;
   padding: 1rem;
}

.absolute {
   background-color: blue;
   position: absolute;
   top: 0;
   left: -2000px;
}

.relative {
   background-color: orange;
   position: relative;
   top: 250px;
   left: 650px;
}

.fixed {
   position: fixed;
   background-color: green;
   top: 40px;
   left: 240px;
   z-index: 1;
}

.sticky {
   position: sticky;
   top: 20px;
   background-color: yellow;

}